[Desktop Entry]
Type=Application
Name=System Update
Comment=Update ujust, Homebrew, and packages
Exec=konsole --noclose -e bash -c "source <(/home/linuxbrew/.linuxbrew/bin/brew shellenv) && ujust update && brew update; brew upgrade; distrobox stop a"
Icon=system-software-update
Terminal=false
Categories=System;Utility;
